.public-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.public-table th, .public-table td {
    border: 1px solid #ccc;
    padding: 8px;
}

.title-page {
    margin-bottom: 20px;
}
