{% extends "layout/base.html" %}

{% block title %}B-CraftD – Espace Admin{% endblock %}

{% block head %}
  <link rel="stylesheet" href="/static/css/admin.css">
  {% block stylesheets_custom %}{% endblock %}
{% endblock %}

{% block nav %}
<a href="/" class="px-3 hover:underline">Accueil</a>
<a href="/admin" class="px-3 hover:underline">Tableau de bord admin</a>
<a href="/admin/professions" class="px-3 hover:underline">Professions</a>
<a href="/admin/resources" class="px-3 hover:underline">Ressources</a>
<a href="/admin/recipes" class="px-3 hover:underline">Recettes</a>
<a href="/admin/users" class="px-3 hover:underline">Utilisateurs</a>

<!-- Bouton logout -->
<form action="/logout" method="post" class="inline">
    <button class="px-3 text-red-300 hover:text-red-500">Déconnexion</button>
</form>
{% endblock %}

{% block content %}{% endblock %}

{% block scripts %}
  <script></script>
  {% block scripts_custom %}{% endblock %}
{% endblock %}