<!-- app/web_interface/templates/base.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}B-CraftD{% endblock %}</title>

    <link rel="stylesheet" href="/static/css/main.css">
    {% block head %}{% endblock %}
</head>
<body>

<header>
    <nav>
        <a href="{{ url_for('page_index') }}">Accueil</a>

        {% if user %}
            <a href="{{ url_for('page_profile') }}">Mon profil</a>
            <a href="#" onclick="logout()">Déconnexion</a>
        {% else %}
            <a href="{{ url_for('page_login') }}">Connexion</a>
            <a href="{{ url_for('page_register') }}">Inscription</a>
        {% endif %}
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<script src="/static/js/utils.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
