{% extends "base.html" %}

{% block content %}
<h2>Créer un compte</h2>

<form id="register-form">
    <label>Prénom :</label>
    <input type="text" name="firstname">

    <label>Nom :</label>
    <input type="text" name="lastname">

    <label>Email :</label>
    <input type="email" name="mail">

    <label>Login :</label>
    <input type="text" name="login">

    <label>Mot de passe :</label>
    <input type="password" name="password">

    <label>Profession :</label>
    <input type="text" name="profession">

    <button type="submit">Créer</button>
</form>

<script src="/static/js/register.js"></script>
{% endblock %}
